.awards {
  min-height: 950px;
  padding-top: 150px;
  @media screen and (max-width: $mobile) {
    min-height: 933px;
    padding-top: 100px;
  }
  &__container {
    @include container;
    @media screen and (max-width: $mobile) {
      max-width: 375px;
    }
  }
  &__wrapper {
    @include wrapper;
    padding: 0 15px;
    @media screen and (max-width: $mobile) {
      max-width: 345px;
    }
  }
  &__title {
    @include title;
    color: $middle-blue;
    margin-bottom: 80px;
    @media screen and (max-width: $mobile) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 53px;
    }
  }
  &__list {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    @media screen and (max-width: $mobile) {
      gap: 10px;
    }
  }
  &__item {
    display: inline-flex;
    gap: 20px;
    @media screen and (max-width: $mobile) {
      flex-wrap: wrap;
      gap: 15px;
    }
  }
  &__item--center {
    justify-content: center;
  }
  &__imageBlock {
    max-width: 264px;
    width: 100%;
    min-height: 265px;
    display: flex;
    @media screen and (max-width: $mobile) {
      max-width: 165px;
      min-height: 130px;
    }
  }
  &__link {
    margin: auto;
    max-width: 160px;
    max-height: 161px;
    align-items: center;
    @media screen and (max-width: $mobile) {
      max-width: 100px;
      max-height: 99px;
    }
  }
  &__image {
    display: block;
    transition: 0.25s;
    &:hover {
      transform: scale(1.1);
    }
    @media screen and (max-width: $mobile) {
      max-width: 100px;
      max-height: 99px;
    }
  }
}
