.letter {
  margin-top: 150px;
  min-height: 626px;
  @media screen and (max-width: $tablet) {
    margin-top: 100px;
    min-height: 560px;
  }
  @media screen and (max-width: $mobile) {
    min-height: 897px;
  }
  &__wrapper {
    min-height: 626px;
    border-radius: 20px;
    background-color: $grey-blue;
    @media screen and (max-width: $tablet) {
      max-width: 1030px;
      min-height: 560px;
    }
    @media screen and (max-width: $mobile) {
      max-width: 375px;
      min-height: 897px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-around;
    min-height: 626px;
    padding: 0 15px;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      min-height: 450px;
      padding: 70px 40px 80px 40px;
    }
    @media screen and (max-width: $mobile) {
      max-width: 265px;
      margin: auto;
      min-height: 897px;
      padding: 60px 0 91px 0;
    }
  }
  &__item--info {
    max-width: 547px;
    width: 100%;
    min-height: 396px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (max-width: $tablet) {
      max-width:100%;
      min-height: 240px;
    }
    @media screen and (max-width: $mobile) {
      max-width: 265px;
    }
  }
  &__item--image {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    @media screen and (max-width: $tablet) {
      margin: auto;
      margin-top: 50px;
      margin-bottom: 0px;
    }
  }
  &__title {
    @include title;
    max-width: 540px;
    width: 100%;
    min-height: 142px;
    color: $middle-blue;
    @media screen and (max-width: $tablet) {
      max-width: 100%;
      font-size: 36px;
      line-height: 53px;
      min-height:50px;
    }
  }
  &__text {
    @include text;
    max-width: 546px;
    width: 100%;
    min-height: 116px;
    margin-top: 19px;
    color: $dark-blue;
    @media screen and (max-width: $tablet) {
      max-width: 100%;
      margin-top: 25px;
      font-size: 18px;
      line-height: 27px;
      min-height: 60px;
    }
  }
  &__button {
    @include button;
    margin-top: 40px;
    cursor: pointer;
    &:hover {
      background-color: $dark-red;
    }
    @media screen and (max-width: $tablet) {
      max-width: 100%;
      margin-top: 35px;
    }
  }
  &__image {
    max-width: 519px;
    width: 100%;
    max-height: 434px;
  }
}
