$dark-blue: #171f39;
$middle-blue: #293560;
$light-blue: #194498;
$light-blue-opacity: rgba(25, 68, 152, 0.2);
$grey-blue: rgba(138, 156, 192, 0.2);
$red: #c6264b;
$dark-red:#98203C;
$white: #ffffff;
$grey: #dcdfeb;
$light-grey: #f7f6fb;
$dark-grey: #b0b0b0;
$middle-grey: #888ea3;
